<tr class="call-row" data-call-id="{{id}}">
    <td style="{{#if hasBrowserHistory}}font-weight: bold;{{/if}}">
        <span class="call-toggle {{#if hasBrowserHistory}}expanded{{/if}}" style="margin-right: 8px; cursor: pointer;">
            {{#if hasBrowserHistory}}▼{{else}}▶{{/if}}
        </span>
        {{{formatDate start_time}}}
    </td>
    <td style="{{#if hasBrowserHistory}}font-weight: bold;{{/if}}">
        {{{formatDate end_time}}}
    </td>
    <td style="{{#if hasBrowserHistory}}font-weight: bold;{{/if}}">{{formatDuration duration}}</td>
    <td style="{{#if hasBrowserHistory}}font-weight: bold;{{/if}}">
        <span style="margin-right: 6px;">{{getCountryFlag phone}}</span>
        {{#if phone}}{{phone}}{{else}}Unknown{{/if}}
    </td>
</tr>
<tr class="nested-row" id="nested-row-{{id}}" style="display: {{#if hasBrowserHistory}}table-row{{else}}none{{/if}};">
    <td colspan="4">
        {{> call-details}}
    </td>
</tr>
